<script setup lang="ts">
import { useTemperatureStore } from '@/stores/temperature';

const store = useTemperatureStore()

</script>

<template>
    <v-container>
        <h2>
            {{ store.statusText }}
        </h2>
        <v-row>
            <v-text-field v-model="store.temp" type="number" @keydown.enter="store.callConvert()" />
            <v-btn @click=" store.callConvert()">
                Cal
            </v-btn>
        </v-row>
        <h2>
            Fahrenheit : {{ store.fahrenheit }}
        </h2>
    </v-container>
</template>